{% extends "dashboard/base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Meals' %}{% endblock %}

{% block content %}

<h1 class="mt-2 mb-5 text-center">{% trans "Meals" %}</h1>

<div class="d-flex mt-5 pt-5 justify-content-center flex-wrap ">
  {% for menu in menus %}
    <div class="card card-recipe shadow mx-2">
      <div class="row justify-content-center">
        <div class="col-lg-3 order-lg-2">
          <div class="card-recipe-image">
            {% if menu.picture %}
              <img src="{{ menu.picture.url }}">
            {% else %}

            {% endif %}
          </div>
        </div>
      </div>
      
      <div class="card-body pt-0 pt-md-4">
        
        <div class="text-center">
          <h3>
            {{menu.created_at|date:"d M Y"}}
          </h3>
          <a href="{% url 'add-recipe-to-menu' menu.slug%}" class="card-recipe-btn-small">{% trans 'Dishes' %} <i class="fa-solid fa-plus fa-xs"></i></a>
          {% for recipe in menu.recipes.all %}
          <a href="{% url 'recipe-detail' recipe.slug %}" class="darkest-color">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                {% if recipe.picture%}
                <img src="{{recipe.picture.url}}" class="rounded-circle small-img">
                {% endif %}
              </div>
              <div>
                <p class="my-auto">{{recipe.name}}</p>
              </div>
              <div>
                {{recipe.averagereview}}
              </div>
            </div>
          </a>
          {% endfor %}
          <hr class="my-4">

          <a href="{% url 'add-music' menu.slug%}" class="card-recipe-btn-small">{% trans 'Music' %} <i class="fa-solid fa-plus fa-xs"></i></a>
          {% for music in menu.musics.all %}
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="my-auto">{{music.title}}</p>
            </div>
            <div>
              {{music.artist}}
            </div>
          </div>
          {% endfor %}

          <hr class="my-4">

          <a href="{% url 'add-anecdote' menu.slug%}" class="card-recipe-btn-small">{% trans 'Anecdotes' %} <i class="fa-solid fa-plus fa-xs"></i></a>
          {% for anecdote in menu.anecdotes.all %}
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="my-auto">{{anecdote.message}}</p>
            </div>
            
          </div>
          {% endfor %}
          
          
        </div>
      </div>
    </div>
  {% endfor %}
</div>
    
 

{% endblock %}