{% extends 'dashboard/base.html' %}
{% load i18n static %}

{% block content %}

{% if recipe.picture %}
<section class="hero-wrap d-flex flex-column justify-content-end"
style="background: linear-gradient(rgb(148,163,184,0.8), rgb(51,65,85,0.8)), url({{recipe.picture.url}}); background-size: cover;" 
    >
{% else %}
<section class="hero-wrap d-flex flex-column justify-content-end"
    style="background:linear-gradient(rgb(148,163,184,0.8), rgb(51,65,85,0.8)), url('{% static 'assets/img/illustrations/dish_default.jpeg' %}') ; background-blend-mode: multiply; background-size:cover; background-repeat:no-repeat; background-position:center;">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
        <h1 class="mb-2">{{recipe.name}}</h1>
        
        
            <a href="#"><i class="fa fa-pen fa-5x"></i></a>
        
    </div>
</section>

<section>
 {% for comment in recipe.recipe_comments.all %}
          <div class="d-flex justify-content-evenly">
            <p>{{comment.author}}</p>
            <p>{{comment.message}}</p>
            <p>{{comment.rating}}</p>
          </div>
          {% endfor %}
</section>
{% endblock%}